@import "./other.css";
.b4etd{
    width: 192px;
    min-height: 330px;
}
.grid-containter-flash-sale{
    background-color: var(--container-color)
}
.top-search-overflow{
    overflow-x: auto;
}
.top-search-overflow::-webkit-scrollbar{
    display: none;
}
.top_search_link_ctn{
    transform: translateX(0);
    transition: all 0.5s ease;
}
