@import url("./style.css");
@media  only screen and (min-width: 300px) and (max-width: 736px){
    .grid{
        width: 100%;
        margin: 0px auto;
    }
    .header-form-onPC,
    .heading-form,
    .social-media-group-onPC{
        display: none;
    }
    .inpAcc{
        margin-top:0px
    }
    .inpAcc,
    .inpPw{
        width: 100%;
    }
}
@media only screen and (min-width: 370) and (max-width: 415px){
    html, body{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        height: 100%;
        overflow-y: hidden;
    }
}
@media only screen and (min-width: 760px) and (max-width: 1112px){
    .grid{
        width: 100%;
        margin: 0 auto;
    }
    .header-form-onPC,
    .heading-form,
    .social-media-group-onPC{
        display: none;
    }
    .header-form{
        z-index: 10;
        width: 100%;
        height: fit-content;
        border-bottom: 1px solid var(--primary-color);
    }
    .hasnot-acc:first-child>div:nth-child(2)>a{
        font-size: 12px;
    }
    .fgPw{
        padding: 0px;
        text-align: center;
        width: 50%;
    }

    .footer{
        display: block;
        margin-top: 0px;
    }
}
@media only screen and (min-width: 1023px) and (max-width: 1112px){
    .grid{
        width: 980px;
        margin: 0 auto;
    }
}
@media only screen and (min-width:1110px){
    .social-media-group-onMobile{
        display: none;
    }
    .right-body{
        width: 600px;
    }
}
@media only screen and (min-width:1240px) {
    .grid{
        width: 1200px;
        margin: auto;
    }
    .header-form-onMobile{
        display: none ;
    }
    .social-media-group-onPC{
        align-items: center;
    }
    .footer{
        display: block;
    }
}
body{
    background-color: white;
}
a,
.social-media-link,
.fgPw{
    color: blue;
}
a:hover,
.social-media-link:hover,
.fgPw:hover{
    color: blue;
}
.header-form{
    background-color: var(--white-color);
}
.right-body{
    padding: 20px;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ctn-check{
    display: flex;
}
.btn-sbmit,
.btn-sbmit button,
input{
    width: 100%;
    height: 50px;
}

.btn-sbmit button{
    background-color: var(--primary-color);
    border: 1px solid var(--container-color);
    font-size: 15px;
}
.lTxt{
    position: relative;
    width: 110px;
    padding: 2px;
    background-color: rgb(250, 245, 215);
    border: 2px solid rgb(196, 139, 5);
}
.lTxt div::before{
    display: block;
    position: absolute;
    content: "";
    top: 19%;
    right: -21px;
    border: 10px solid;
    border-color:transparent transparent transparent rgb(196, 139, 5);;
}
.lTxt div::after{
    display: block;
    position: absolute;
    content: "";
    top: 20%;
    right: -17px;
    border: 9px solid;
    border-color:transparent transparent transparent rgb(250, 245, 215) ;;
}

.code_ic{
    margin-left: 40px;
}
.vRtc-line{
    width: 100%;
    position: relative;
}
.vRtc-line::before{
    position: absolute;
    content: "";
    width: 40%;
    height: 0.5px;
    left: 0;
    background-color: var(--line-color)
}
.vRtc-line::after{
    position: absolute;
    content: "";
    width: 40%;
    height: 0.5px;
    right: 0;
    background-color: var(--line-color)
}
.social-media-ic{
    width: 50%;
    margin-right: 16px;
}

.social-media-link-group{
    width: 100%;
    display:  block;
}
.social-media-link-group div:nth-child(2){
    width: 50%;
}
.social-media-link{
    display: inline-flex;
    padding: 8px;
    width: 100%;
    height: 40px;
    border: 1px solid var(--container-color);
}
.social-media-link:nth-child(2){
    margin: 10px 0px;
}
.social-media-link div:first-child{
    width: 20%;
}
.social-media-link div:nth-child(2){
    display: flex;
    align-items: center;
    align-content: center;
    width: 80%;
    text-align: center;
}
#fb{
    background: url("https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/7b95007f3377150730bbb5d1ddb477d6.png");
    background-size: 325% 287.5%;
    background-position: 5.555555555555555% 62.666666666666664%;
    width: 22px;
    height: 22px;
}
#google{
    background: url("https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/7b95007f3377150730bbb5d1ddb477d6.png");
    background-size: 722.2222222222222% 638.8888888888889%;
    background-position: 83.92857142857143% 5.154639175257732%;
    width: 22px;
    height: 22px;
}
#app_id{
    background: url("https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/7b95007f3377150730bbb5d1ddb477d6.png");
    background-size: 406.25% 359.375%;
    background-position: 5.1020408163265305% 6.024096385542169%;
    width: 22px;
    height: 22px;
}
.hasnot-acc{
    text-align: center;
}
.block-5 .right-link-block{
    border: 0px;
}
h1{
    color: var(--white-color);
}
.header-btn-login-register{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    height: 58px;
}
.signin-withQRCODE-btn{
    background-color: #fefaec;
    border: 2px solid;
    border-color: #ffbf00 #fefaec #ffbf00 #ffbf00;
    color: #ffbf00;
    font-weight: 700;
    position: relative;
}
.inpAcc,
.inpPw{
    border: 1.5px solid var(--container-color);
}
#user-acc,
#password{
    border: 0px;
}
.another-login{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.line-or-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.vertical-line{
    height: 0.5px;
    width: 100%;
    background:var(--line-color);
}
#span-or{
    padding: 0 16px;
    color: var(--line-color);
}
.social-media-links{
    display:flex;
    color: var(--black-color);
    height: 100%;
    align-items: center;
}
.social-media-links:hover{
    opacity: 1;
}
.auth-form-new-user{
    display: flex;
    height: 40px;
    padding-top: 16px ;
    justify-content:center;
    align-items: center;
}
.auth-form-new-user p{
    color: var(--line-color);
    font-size: 18px;

}
.auth-form-new-user .sign-up-link{
    color: var(--primary-color);
    font-size: 18px;
    padding-left: 8px;
}