@import url("./shop_online.css");

@media only screen and (max-width:480px) {
    .grid{
        width: 100%;
        margin: 0px auto;
    }
    .mobile-header{
        width: 100%;
        position: relative;
    }
    .mobile-search-controller{
        display: block;
        z-index: 100;
        position : fixed;
        width: 100%;
        height: 60px;
        top: 10px;
    }
    .sOhome-ctn .xCAO3k{
        margin-top: 0px;
    }
    .shop-online-ctn{
        width: 100%;
        overflow: unset;
    }
    .shop-online{
        padding: 0px;
    }
    .rlt0Sk{
        position: relative;
        height: 180px;
        background-color: var(--primary-color);
    }
    .shop-online .lft-rltSk {
        width: 100%;
        height: 160px;
        position: absolute;
        bottom: 0px;
        border-radius: 0px;
    }
    .mobile-search-box{
        position: absolute;
        width: 100%;
        height: 45px;
        top: 5px;
        z-index: 5;
    }
    .mobile-search-input-iconback{
        height: 100%;
    }
    .btns-back{
        position: absolute;
        left: 0px;
    }
    .input-icon-box {
        position: relative;
        width: 80%;
        height: 70%;
        color: var(--white-color);
        border-radius: 5px;
        background-color: rgb(112, 118, 122);
    }
    .input-icon-box svg{
        margin-left: 8px;
    }
    .input-icon-box input{
        display: block;
        margin: 0px 6px 0px 16px;
        color: var(--white-color);
        background-color: inherit;
    }
    .input-icon-box input::placeholder{
        color: rgb(223, 217, 217);
        font-size: 13px;
    }
    .g0{
        position: absolute;
        height: 70%;
        bottom: 10px;
        margin-top: 30px;
    }
    .rgt{
        position: relative;
        width: 70%;
        height: 70px;
    }
    .rgt0{
        position: absolute; 
        width: 100%; 
        height: 30px; 
        top: 0px;
    }
    .rgt00{
        position:relative; 
        height: inherit; 
        width:100%;
    }
    .bgr_shop-info{
        position: relative;
    }
    .right-rltSk-ctn{
        display: none;
    }
    .shop-online .ltf-img-ctn{
        width: 20%;
    }
    .ltf-img{
        position: absolute;
        bottom: 5px;
    }
    .logo_shop_img{
        position: absolute;
        width: 60px;
        height: 60px;
        bottom: 0px;
    }
    .fvr-shop{
        width: 60px;
        height: 12px;
        font-size: 10px;
    }
    .shopName.font20{
        font-size: 11px;
    }
    .arrow-gotoshopdetails{
        position: absolute;
        right: 20px;
        width: 15%;
        top: 5px;
        margin-right: 4px ;
        z-index: 15;
    }
    .time-online{
        position: absolute;
        top:35px;
    }
    .time-online div{
        font-size: 12px;
    }
    .mobile-rating-followers{  
        display: flex;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 20px;
        color: white;
        font-size: 13px;
        bottom: -6.5px;
    }
    .rating-followers{
        width: 55%;
        height: 100%;
    }
    .rating-block{
        width: 50%;
    }
    .followers{
        width: 50%;
    }
    #desktop{
        display: none;
    }
    .follow-shop-btn{
        width: auto;
        height: 100%;
        bottom: 0px;
    }
    /* CATAGORIES RESPONSIVE */
    #catagories-desktop{
        display: none;
    }
    .lft-ctn-shop-menu{
        width: 100%;
    }
    .ctPRD{
        width: calc(100%/3);
    }
    /* PROMOTION CODE */
        /* hiddend next - previous btns */
    .small-btn {
        display: none;
    }
    #scroll_ctn{
        overflow: visible;
    }
    .CDpmt-wrapper{
        position: relative;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .CDpmt-wrapper::-webkit-scrollbar{
        display:-webkit-box;
    }
    .PMTcode{
        width: 90%;
    }
    /* SUGESSTION */
    .sgtion-relative{
        position: relative;
        width: 100%;
        height: 410px;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .suggestion_products_ShopOnline{
        position: absolute;
    }
    .suggestion_products_ShopOnline #sort_result_search{
        width: 16.6666666%;
        height: inherit;
    }
    /* BANNER SHOP ONLINE RESPONSIVE */
    .ul-list-shopSld{
        position: relative;
        width: 100%;
    }
    .list-item-shopSld img{
        position: inherit;
        width: 100%;
    }
    .btn-arrow{
        height: 50px;
    }
    .btn-arrow button{
        width: 30px;
    }
    .next-circle-animation{
        left: 42%;
    }
    .list-next-circle-animation{
        width: 15px;
        height: 15px;
    }
    /* TOP SALE */
    
    #top_sales{
        position: relative;
        display: inline-flex;
        flex-flow: row wrap;
        width: 100%;
    }
    .pRDTOPSALE #sort_result_search{
        width: 46.680%;
        height: auto;
        margin: 4px 5px;
    }
    .favorite-shop{
        font-size: 13px;
    }
    .nbs-sggtion {
        font-size: 11px;
    }
    .footer{
        display: none;
    }
    .dell-price{
        width: 40px; 
        overflow: hidden;
    }
    .dell-price .price-sggtion{
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .dell-price>.price-sggtion{
        font-size: 10px;
    }
    #top_sales .crr-price{
        font-size: 11px;
    }
    #top_sales .crr-price .price-sggtion{
        font-size: 12px;
    }
    .item-rating-star{
       width: auto;
       height: auto;
    }
    .item-rating-star svg{
        width: 10px;
        height: 10px;
    }
    .prc> .icon-free-shipping{
        height: 12px;
        width: 12px;
    }
    /* ALL PRODUCTS IN SHOP AND SORT */
    .lft-nav-Stctn{
        position: relative;
        width: 100%;
    }
    .left-sort{
        display: none;
    }
    .sortBy-ctn{
        display: none;
    }
    #all-products{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
    }
    #all-products #sort_result_search{
        width: 46.680%;
        height: auto;
        margin: 4px 5px;
        /* margin: 0 2px 4px 2px; */
    }
    .tdsgt-ftt-ctn{
        display: none;
    }
    #tdsgtion-relative-product .crr-price{
        font-size: 11px;
    }
    #tdsgtion-relative-product .price-sggtion{
        font-size: 12px;
    }
}
@media only screen and (min-width: 1280px) {
    .grid{
        width: 1200px;
        margin: 0px auto;
    }
    .header{
        background-color: var(--primary-color);
    }
    .lft-rltSk .mobile-search-box{
        display: none;
    }
    .sortResult-main{
        width: 100%;
    }
    .sOhome-ctn .xCAO3k{
        margin-top: 130px;
    }
    .shop-online-ctn{
        width: 100%;
        overflow:hidden;
    }
    .mobile-search-controller{
        display: none;
    }
    .arrow-gotoshopdetails{
        display: none;
    }
    .mobile-rating-followers{
        display: none;
    }
    #followbtn_mobile{
        display: none;
    }
    .follow-shop-btn{
       width: 45%;
    }
    #catagories-mobile{
        display: none;
    }
    .heading_on_mobile{
        display: none;
    }
    footer{
        display: none;
    }
    /* CATAGORIES RESPONSIVE */
    #catagories-desktop{
        display: block;
    }
    #all-catagories_resp_mobile{
        display: none;
    }
    /* PROMOTION CODE */
    #scroll_ctn{
        overflow: hidden;
    }
    .CDpmt-wrapper{
        position: relative;
        overflow-x: scroll;
    }
    .CDpmt-wrapper::-webkit-scrollbar{
        display: none;
    }
    /* top sales */
    #top_sales{
        position: relative;
        display: inline-flex;
        width: 100%;
    }
    .pRDTOPSALE #sort_result_search{
        width: calc(100%/6);
        height: auto;
    }
}