/* Shop Page */
@import url('./style.css');
@import url('./sortResultSearching.css');
#shop_online_main{
    background-color: var(--container-color);
}
.hd-shop-online a{
    color: var(--white-color);
}
.hd-shop-online a:hover{
    text-decoration: none;
    color: var(--white-color);
    opacity: 0.7;
}

.shopOnline-nav-search-ctn input{
    width: 100%;
}
.shopOnline-inputCTN{
    position: relative;
    width: 70%;
    height: 100%;
}
.search_inshop{
    position: relative;
    width: 30%;
    height: 100%;
}
.search_inshop::after{
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
}
.search_inshop:hover .bellow-search_inshop{
    display: block;
}
.above{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 16px;
}
.above::before{
    display: block;
    content: "";
    width: 2px;
    height: 80%;
    position: absolute;
    left: 0;
    background-color: #e6e6e6;
}
.above div:nth-child(2){
    position: absolute;
    right: 0;
    margin-right: 8px;
}

.bellow-search_inshop{
    display: none;
    position: absolute;
    top: 36px;
    width: 100%;
    height: 70px;
    background-color: var(--white-color);
    border-radius: 3px;
    z-index: 30;
}
.blSih{
    position: relative;
    width: 100%;
    height: 100%;
}
.cEKC{
    height: 100%;
    width: 100%;
}
.cekTXT{
    height: 50%;
}
.cekTXT:hover{
    background-color:var(--hover-color);
}
.check-btn{
    position: absolute;
    width: 20px;
    height: fit-content;
    top: 10px;
    right: 0px;
}
/* history search  SHOP ONLINE*/
.shopOnline-inputCTN .history-search-container{
    width: 98%;
}
.search_in-shope-ctn{
    display: block;
}
.agency-saleOff{
    display: block;
}
.search-inShop-history:hover{
    user-select: none;
    cursor:text;
    background-color: var(--white-color);
}
.shopee-icon{
    fill: var(--text-color);
    width: 16px;
}
.hd-shop-online{
    position: absolute;
    min-width: 1200px;
    width: 100%;
}
.shop-Online-Page{
    position: relative;
    width: 100%;
}
/* CODE PROMOTION */
.CODE-promotion-ctn,
.shop-online{
    position: relative;
    width: 100%;
    background-color: var(--white-color);
    padding-top: 32px;
}
.shop-online .lft-rltSk{
    position: relative;
    width: 400px;
    border-radius: 5px;
    background-color: rgb(104, 110, 120);
    padding: 16px;
}
.g0{
    display: block;
    width: 100%;
}
.shop-bgr{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.shopBGR-img{
    height: inherit;
    background-repeat: no-repeat;
    background-color: contain;
    opacity: 0.2;
}
.shop-online .ltf-img div{
    border-radius: 50%;
    border: 4px solid var(--line-color);
}
.shop-online .ltf-img-ctn{
    height: fit-content;
    position: relative;
}
.shopName{
    font-weight: 600;
}
/* Time Online */
.circle-state{
    width: 5px;
    height: 5px;
    background-color: aquamarine;
    border-radius: 50%;
}
.go div:nth-child(2){
    width: 100%;
}
.follow-shop-btn{
    min-width:45%;
    max-width: 100%;
    height: 30px;
    border: 1px solid var(--white-color);
    border-radius: 3px;
}
.lft-ctgR .sort-list-ctn{
    width: 100%;
    height: 100%;
}
.shop-Online-Page .block-catagories{
    min-height: 60px;
    position: relative;
    padding: 4px 0px;
}
.shop-Online-Page .icon-all-cate{
    width: 17px;
    height: 17px;
    fill: var(--text-color);
}
.shop-Online-Page .item-srt-cata{
    position: absolute;
    width: 86%;
    height: fit-content;
    top: 0;
    right: 0;
}
.shop-online .right-rltSk-ctn{
    width: 65%;
}
.shop-Online-Page .icx{
    position: absolute;
    left: 8px;
    top: 2.5px;
    padding: 0;
}
.icon-down-arrow-right-filled{
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    fill: var(--primary-color);
}
/* shop's products Menu */
.cata-Prd-shop-ctn{
    position: relative;
    width: 100%;
}
.item-CtPRD-active{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}
.ctPRD{
    min-width: 180px;
    height: 40px;
    margin-right: 8px;
}
.choose-prd div:hover,
.ctPRD:hover{
    text-decoration: none;
    color: var(--primary-color);
}
.shop-menu-container{
    position: relative;
    width: 100%;
}
.menu-left{
    width: 85%;
}
.lft-ctn-shop-menu{
    width: 100%;
}
.line{
    width: 140px;
    height: 2px;
    background-color: var(--primary-color);
}
.show-more-ctn{
    position: relative;
    width: 15%;
    height: 40px;
}
.show-more-ctn:hover .choose-prd-ctn{
    display: block;
}
.show-more{
    position: relative;
    right: 0;
    width: 100%;
    height: 100%;
}
.icon-down-arrow-filled{
    width: 10px;
}
.show-more-ctn:hover .icon-down-arrow-filled{
    transform: rotate(180deg);
}
.show-more-ctn::before{
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    width: 2px;
    height: 60%;
    background-color: var(--hover-color);
}
.show-more::after{
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: -10px;
}
.choose-prd-ctn{
    display: none;
    position: absolute;
    top: 50px;
    right: 28px;
    width: 250px;
    height: 230px;
    z-index: 100;
    background-color:var(--white-color);
    border: 1px solid var(--line-color);
    border-radius: 3px;
}
.choose-prd-ctn::before{
    display: block;
    position: absolute;
    top: -23.9999px;
    right:15.444px;
    content: "";
    border: 12.4444px solid;
    border-color: transparent transparent gray transparent;
}
.choose-prd-ctn::after{
    display: block;
    content: "";
    position: absolute;
    top: -22.444px;
    right: 15.8888px;
    z-index: 160;
    border: 11.9999px solid;
    border-color: transparent transparent #fff transparent;
}
.choose-prd{
    height: 100%;
    overflow-y: scroll;
}
/* Promotion CODE */
.CODE-promotion-ctn{
    position: relative;
}
.CDpMT{
    position: relative;
}
#scroll_ctn{
    overflow: hidden;
}
.CDpmt-wrapper{
    overflow-x: scroll;
}
.CDpmt-wrapper::-webkit-scrollbar{
    display: none;
}
.PMTcode{
    position: relative;
    height: 120px;
    box-shadow: 0px 0px 20px 0px rgba(102, 85, 87,0.2);
    margin: 0px 8px;
}
.curve-PRM{
    width: 10px;
    height: 100%;
    position: relative;
    background-color:rgb(254, 234, 236) ;
    border-top: 1px solid rgb(242, 156, 156);
    border-bottom: 1px solid rgb(242, 156, 156);
}
.cUVR{
    width: 0.25rem;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(circle at 0 .375rem,transparent 0,rgba(0,0,0,.03) .1875rem,#f8d0d3 0,#f8d0d3 .25rem,#fff4f4 0);
    background-repeat: repeat-y;
    background-size: 0.25rem 0.625rem;
}
.cPRm{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    background: repeating-linear-gradient(#f8d0d3,#f8d0d3 .1875rem,transparent 0,transparent .625rem);
    background-size: 1px .625rem;
    width: 1px;
}
.main-Promotion-CODE{
    position: relative;
    width: 100%;
    height: 120px;
    background-color: rgb(254, 234, 236);
    border-top: 1px solid rgb(242, 156, 156);
    border-bottom: 1px solid rgb(242, 156, 156);
    border-right: 1px solid rgb(242, 156, 156);
    border-radius: 2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.lft-PRM{
    width: 250px;
}
.progress{
    position: relative;
    width: 100%;
    height: 5px !important;
    background-color: rgb(167, 162, 162);
    border-radius: 5px;
}
.progress-bar{
    position: absolute;
    top: 0;
    width: 60%;
    height: 100%;
    background-image: linear-gradient(to right,#f53e28, #f4815f,#e5a134 );
}
.right-PRM{
    width: 70px;
    height: 100%;
    border-left: 1px dotted var(--footer-color-text);
}
.right-PRM div{
    width: 80%;
    height: 30px;
    background-color: var(--primary-color);
    border-radius: 3px;
}
.LrWLhR{
    width: 100%;
}
.b4etd{
    width: 192px;
}
.header-block-sale-off{
    transform: translateY(15%);
}
.footer-sggtion{
    height: 150px;
}
.grid-item-link-product:hover{
    text-decoration: none;
}
.price-block{
    display: flex;
    justify-content: space-between;
}
/* TOP SALE */
.pRDTOPSALE .b4etd{
    width: 300px;
    height: fit-content;
    margin: 0px;
}
.shopeeMall-tag .header-block-favorite-shop{
    text-align: center;
    height: 20px;
    background-color: var(--red-color);
    font-size: 8px;
}
.shop-page_banner{
    width: 100%;
    /* height: 1310px; */
    height: auto;
}
.shop-page_banner .slide-show-ctn{
    height: inherit;
    position: relative;
    padding: 2px 0px;
    border: 10px solid rgb(1, 95, 75);
}
.shop-page_banner .slide-show{
    width: 100%;
    position: relative;
}
.slide-show-item{
    width: 100%;
    /* overflow-x:scroll; */
}
.ul-list-shopSld{
    width: 300%;
    height: 100%;
}
.list-item-shopSld{
    height: 90%;
}
.list-item-shopSld img{
    width: 1180px;
    border-radius: 8%;
}
.next-circle-animation{
    position: absolute;
    bottom: -50px;
    left: 50%;
}
.list-next-circle-animation{
    width: 20px;
    height: 20px;
}
.btn-arrow{
    position: absolute;
    height: 90px;
    top: 50%;
    width: 100%;
}
.btn-arrow button{
    background-color: var(--line-color);
    width: 35px;
    height: 100%;
    border: 0px;
}
.shop-page_banner .next-circle-animation{
    transform:  translateY(-47px);
}
/* ALL Products in shop */
#sort_result_search{
    width: 196px;
}
.sortBy{
    position: relative;
}